# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Colab sample data
sample_data/

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Git metadata
.git/

# Python-specific cache
*.egg-info/
*.eggs/
dist/
build/
